<div [@routerTransition]>

    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-3">
                <!--<a href="/forms" class="btn" al> Add new Customer</a>-->
                <a  class="btn btn-link text-primary" href="/forms" style="float:right"><i class="fas fa-plus fa-lg"> </i><strong>&nbsp;Add New Customer</strong></a>
                <div class="card-header">
                    Customer Grid
                </div>
                <div class="card-body table-responsive">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <table class="table">

                                    <thead>
                                        <tr role="row">

                                            <th>Name</th>
                                            <th>Debit Account</th>
                                            <th>Credit Account</th>
                                            <th>Sales Agent</th>
                                            <th>Type</th>
                                            <th>Action</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>aaa</td>
                                            <td>dacc1</td>
                                            <td>cacc1</td>
                                            <td>ag1</td>
                                            <td>type1</td>
                                            <td>
                                                <div>
                                                    <a class="text-primary"><i class="fas fa-edit fa-lg"></i></a>
                                                    <a class="text-danger"><i class="fas fa-trash fa-lg"></i></a>

                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>aaa</td>
                                            <td>dacc1</td>
                                            <td>cacc1</td>
                                            <td>ag1</td>
                                            <td>type1</td>
                                            <td>
                                                <div>
                                                    <a class="text-primary"><i class="fas fa-edit fa-lg"></i></a>
                                                    <a class="text-danger"><i class="fas fa-trash fa-lg"></i></a>

                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>aaa</td>
                                            <td>dacc1</td>
                                            <td>cacc1</td>
                                            <td>ag1</td>
                                            <td>type1</td>
                                            <td>
                                                <div>
                                                    <a class="text-primary"><i class="fas fa-edit fa-lg"></i></a>
                                                    <a class="text-danger"><i class="fas fa-trash fa-lg"></i></a>

                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>aaa</td>
                                            <td>dacc1</td>
                                            <td>cacc1</td>
                                            <td>ag1</td>
                                            <td>type1</td>
                                            <td>
                                                <div>
                                                    <a class="text-primary"><i class="fas fa-edit fa-lg"></i></a>
                                                    <a class="text-danger"><i class="fas fa-trash fa-lg"></i></a>

                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                    <!--<table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
            </tr>
            </tbody>
        </table>-->
                </div>
            </div>

        </div>

    </div>
</div>
